%table.info
	%tr
		%th= "Bus"
		%td= @bus.patent
	%tr
		%th= "Marca"
		%td= @bus.mark
	%tr
		%th= "Modelo"
		%td= @bus.model
	%tr
		%th= "Año"
		%td= @bus.year

%h1= "Layout"

%table.layout
	- # Iteramos sobre las "columnas" del bus, desde la mayor (lado derecho) a la menor (lado izquierdo), pues el lado derecho del bus queda "arriba" al mostrarlo acostado
	- (@bus.elements_min(:column)..@bus.elements_max(:column)).reverse_each do |column|
		%tr
			- # Ahora iteramos sobre las "filas" del bus
			- (@bus.elements_min(:row)..@bus.elements_max(:row)).each do |row|
				%td
					- case @bus.get_element_type row, column
					- when 'Seat' # Asiento
						- #aumentamos contador
						%input{ :type => "checkbox", :row => row, :column => column }
							= @bus.seat_number(row, column)
					- when 'DriverSeat' # indica la ubicación del chofer en el bus
						Dr
					- when 'Door' # indica una puerta
						Do 
					- when 'Bathroom' # indica baño
						WC
					- else # vacío
						- ' '